.topWave {
  position: absolute;
  width: 100vw;
  z-index: -1;
  top: 0;
}
.topWave svg {
  display: block;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  padding: 20px 0;
}
.heading {
  font-size: 24px;
  color: var(--primaryColor);
  font-weight: 500;
}
.heading i {
  font-weight: 800;
}
.logo {
  max-width: 120px;
}
@media only screen and (max-width: 1440px) {
  .header {
    padding: 10px 0;
  }
}
