.mainWrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  position: relative;
  z-index: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 1;
  padding: 150px 0;
  padding-top: 240px;
}

.totalWays {
  font-size: 400px;
  line-height: 83%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-30%, -80%);
  z-index: -1;

  /* Define the background color gradient */
  background: linear-gradient(
    180deg,
    var(--primaryColor) 0%,
    var(--secondaryColor) 20%,

    var(--secondaryColor) 90%,
    var(--primaryColor) 100%
  );

  -webkit-background-clip: text;
  color: transparent; /* Adjust the opacity as needed */
}
.title {
  font-family: var(--headerFontFamily);
  font-size: 80px;
  line-height: 100%;
  color: var(--primaryColor);
}
.tagline {
  font-family: var(--headerFontFamily);
  font-size: 40px;
  color: var(--primaryColor);
  text-align: left;
}
